@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #1f6fed;
    --color-insta: red;
    --color-secondary: black;
    --color-secondary-content: white;
    --color-neutral: white;
    --color-neutral-content: black;
}
